# Python files
*venv
*__pycache__/

# Whisper server audio temp files
tempFiles

# node.js libraries
node_modules/

# Webpack generated code
dist/

# Generated Whisper models
*.pth

# Public/Private keys
*.pem

# Auto generated Mac/vscode files
.DS_Store
.vscode

# Just env
.env



