<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="text_file_io.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="history_style.css">
    <script src='https://mozilla.github.io/nunjucks/files/nunjucks.min.js'></script>
</head>

<body>
    <script>
        function clipString(str) {
            const limit = 128;
            if (str.length > limit) return `${str.substring(0, limit - 3)}...`
            else return str;
        }
        function expandText(text) {
            text.classList.toggle("expanded");
            const content = text.classList.contains("expanded") ? text.getAttribute("data-text") : clipString(text.getAttribute("data-text"));
            text.innerText = content;
        }
        function buildDiarizationText(event) {
            let text = '';
            for (let i = 0; i < event.array[2].length; ++i) {
                text += `${event.array[2][i]}:${event.array[3][i]}`;
                if (i < event.array[2].length - 1) text += '\n';
            }
            return text;
        }
        const nj = `
        <div class="event_view">
            <div class="event_icon material-symbols-outlined">
                {% if mode == 'translation' %}translate
                {% elif mode == 'transcription' %}person
                {% elif mode == 'diarization' %}group
                {% else %}{% endif %}
            </div>
            <div class="event_title">Example title {{ range(1, 100) | random }}</div>
            <div class="event_date_view">{{ timestampToDate(event.getCreatedAt()) }}</div>
            <div class="event_previews_view">
                <div class="event_text_row">
                    {% if event.getTranscriptionLangauge is defined %}
                        {% set lang = getCountry(event.getTranscriptionLangauge()) %}
                    {% elseif event.getLanguage is defined %}
                        {% set lang = getCountry(event.getLanguage()) %}
                    {% else %}
                        {% set lang = '?' %}
                    {% endif %}
                    <div class="text_flag"><img src="https://flagcdn.com/w40/{{ lang }}.png" onerror="this.outerHTML = '{{ lang }}'""></div>
                    {% set content = event.getTranscription() if event.getTranscription is defined else buildDiarizationText(event) %}
                    <div class="preview_text" data-text="{{ content }}" onclick="expandText(this);">
                        {{ clipString(content) }}
                    </div>
                    <button class="option_button" onclick="speak('{{ content }}', 'en-us');">   <!-- GETLANGAUGE??? GETSOURCELANGUAGE??? PREGANTE??? CO TU ZA FUNKCJA MA BYĆ DO JEMZYKA -->
                        <span class="material-symbols-outlined">brand_awareness</span>
                    </button>
                    <button class="option_button" onclick="copyToClipboard('{{ content }}');">
                        <span class="material-symbols-outlined">content_copy</span>
                    </button>
                    <button class="option_button" onclick="downloadAsFile('{{ content }}', 'transcription.txt');">
                        <span class="material-symbols-outlined">download</span>
                    </button>
                </div>
                {% if mode == "translation" %}
                    <div class="event_text_row" style="margin-top:0.5em;color:rgb(86, 58, 156);">
                        {% if event.getTranslationLangauge is defined %}
                            {% set lang = getCountry(event.getTranslationLangauge()) %}
                        {% else %}
                            {% set lang = '?' %}
                        {% endif %}
                        <div class="text_flag"><img src="https://flagcdn.com/w40/{{ lang }}.png" onerror="this.outerHTML = '{{ lang }}'"></div>
                        <div class="preview_text" data-text="{{ event.getTranslation() }}" onclick="expandText(this);">
                            {{ clipString(event.getTranslation()) }}
                        </div>
                        <button class="option_button" onclick="speak('{{ event.getTranslation() }}', 'en-us');">   <!-- GETLANGAUGE??? GETSOURCELANGUAGE??? PREGANTE??? CO TU ZA FUNKCJA MA BYĆ DO JEMZYKA -->
                            <span class="material-symbols-outlined">brand_awareness</span>
                        </button>
                        <button class="option_button" onclick="(_) => copyToClipboard('{{ event.getTranslation() }}');">
                            <span class="material-symbols-outlined">content_copy</span>
                        </button>
                        <button class="option_button" onclick="downloadAsFile('{{ event.getTranslation() }}', 'translation.txt');">
                            <span class="material-symbols-outlined">download</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="delete-button-container">
                <button class="option_button" onclick="alert('here be delete');">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>
        `;
        const njTemplate = nunjucks.compile(nj);
        const emptyHistory = `
        <div style="display:inline-block;" class="centered-message">nothing to show yet</div>
        `;
    </script>
    <header>
        <div id="top_menu">
            <p id="mew_banner"><img src="assets/mew.png" id="mew">Whisker</p>
            <a href="/webApp/index.html" class="icon_button">
                Transcribe <span class="material-symbols-outlined">edit_document</span>
            </a>
            <a href="/webApp/record.html" class="icon_button">
                Dictate <span class="material-symbols-outlined">mic</span>
            </a>
            <a href="#" class="icon_button selected">
                History <span class="material-symbols-outlined">lock</span>
            </a>
            <a href="/webApp/swagger/index.html" class="icon_button locked">
                Swagger <span class="material-symbols-outlined">lock</span>
            </a>
            <a href="/webApp/about.html" class="icon_button">
                About <span class="material-symbols-outlined">help</span>
            </a>
            <div id="blank_space"></div>
            <div id="hamborgir" onclick="document.getElementById('side_menu').classList.toggle('hidden')">
                <span class="material-symbols-outlined">menu</span>
            </div>
        </div>
        <div id="side_menu" class="hidden">
            <div id="hamborgir" onclick="document.getElementById('side_menu').classList.toggle('hidden')">
                <span class="material-symbols-outlined">close</span>
            </div>
            <a href="/webApp/index.html" class="icon_button">
                Transcribe <span class="material-symbols-outlined">edit_document</span>
            </a>
            <a href="/webApp/record.html" class="icon_button">
                Dictate <span class="material-symbols-outlined">mic</span>
            </a>
            <a href="#" class="icon_button selected">
                History <span class="material-symbols-outlined">lock</span>
            </a>
            <a href="/webApp/swagger.html" class="icon_button locked">
                Swagger <span class="material-symbols-outlined">lock</span>
            </a>
            <a href="/webApp/about.html" class="icon_button">
                About <span class="material-symbols-outlined">help</span>
            </a>
            <div id="blank_space"></div>
        </div>
        <div class="header selected" id="navigation">
            <div class="tab_button selected" onclick="openTab(this, 'transcription')">
                <div>Transcriptions</div>
            </div>
            <div class="tab_button" onclick="openTab(this, 'translation')">
                <div>Translations</div>
            </div>
        </div>
    </header>
    <main>
        <div id="page_view">
            <div id="filter_options" class="main_content">
                <div>
                    <label id="search_prompt_input">
                        <input type="text" placeholder="Search by title...">
                        <div class="filter_option_icon material-symbols-outlined">search</div>
                    </label>
                </div>
                <div class="filter_divider"></div>
                <div class="filter_option_button filter_option_icon material-symbols-outlined">
                    sort_by_alpha
                </div>
                <div class="filter_option_icon material-symbols-outlined">
                    unfold_more
                </div>
                <div class="filter_divider"></div>
                <div class="filter_option_button filter_option_icon material-symbols-outlined">
                    calendar_month
                </div>
                <div class="filter_option_icon material-symbols-outlined" style="transform: rotate(-90deg)">
                    chevron_right
                </div>
            </div>
            <div id="main_container" class="main_content">
                <div id="transcription_history" class="tab"></div>
                <div id="translation_history" class="hidden tab"></div>
            </div>
        </div>
    </main>
    <script src="dist/history.js">
    </script>
</body>

</html>