@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

select {
    appearance: none;
}

.hidden {
    display: none !important;
}

.smaller_text {
    font-size: 75%;
}

#send_recording {
    display: flex;
    flex-flow: row nowrap;
}

#record {
    background-color: green;
}

#stop {
    background-color: red;
}

.button {
    margin: 0px 10px 0px 10px;
    border: solid black 1px;
    font-size: 15px;
    padding: 10px 20px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

#top_menu {
    background-color: rgb(86, 58, 156);
    overflow: hidden;
    display: flex;
    font-size: 1.5vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


#mew {
    margin: 0 0.5em;
    padding-top: 0.1em;
    height: 1em;
    transform: scale(2);
}

#top_menu .locked {
    opacity: 0.5;
}

@media(max-aspect-ratio:1/1) {
    #top_menu {
        font-size: 3vw;
    }
}

#top_menu a,
#top_menu p,
#mew_banner {
    /* float: left; */
    color: white;
    background-color: rgb(86, 58, 156);
    padding: 14px 16px;
    margin: auto;
    display: inline-block;
    text-decoration: none;
}

#top_menu a:hover {
    background-color: rgb(106, 66, 194);
}

.selected {
    background-color: rgb(106, 66, 194) !important;
}

.centered-message {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    opacity: 0.4;
    margin-top: 5dvh;
    text-align: center;
}

#blank_space {
    flex: 1;
}

#choose_file_field {
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    height: 90%;
}

#submit_file {
    color: black;
    background-color: white;
    max-width: 200px;
    max-height: 100px;
    border-radius: 4px;
    border: 2px solid rgba(27, 27, 27, 0.8);
    font-size: 20px;
    margin: 20px;
}

#main_buttons {
    margin: auto;
    /* margin: 3%; */
    margin-left: 0%;
    display: inline-block;
    vertical-align: middle;
}

#settings_fields {
    display: flex;
    width: auto;
    /* margin-left: 5vw;
    margin-right: 5%; */
    margin: calc(2vw + 4.5vh) 5vw 3vw;
    /* padding-top: 3%; */
    height: 30vh;
    align-content: space-between;
    /* overflow: auto; */
    /* margin: 5%; */
    justify-content: space-between;
    flex-wrap: wrap;

}

.options_div {
    flex: 1;
    background-color: #ddd;
    max-width: 18vw;
    height: 100%;
    position: relative;
    border-radius: 3%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.options_div.locked {
    background-color: darkgray;
    opacity: 0.4;
}

.steps {
    position: absolute;
    top: -4.5vh;
    left: -4.5vh;
    background-color: rgb(139, 93, 255);
    border-radius: 4.5vh;
    height: 9vh;
    width: 9vh;
    font-size: 5vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
}

.steps>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.field_container {
    display: flex;
    align-items: center;
    flex: 1;
    /* text-align: center; */
    position: relative;
}

.field_container>* {
    flex: 1;
}

.custom_dropdown_arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 0.75vw;
}

.custom_delete_button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 0.4vw;
    cursor: pointer;
}

.custom_delete_button .material-symbols-outlined {
    font-size: 100%;
}

.custom_dropdown_arrow .material-symbols-outlined {
    font-size: 3vw;
}

@media(max-aspect-ratio:1/1) {
    .custom_dropdown_arrow .material-symbols-outlined {
        font-size: 6vw;
    }
}

#optional_checkboxes {
    flex-direction: column;
    flex: 1;
}

#optional_settings {
    border: none;
    text-align: left;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#optional_settings input {
    transform: scale(1.4);
    margin-right: 0.5vw;
}

#role_division_checkbox {
    flex: 1;
    text-align: center;
}

#role_division_checkbox,
#translate_checkbox {
    position: relative;
}

#role_division_checkbox>*,
#translate_checkbox>* {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#role_division_checkbox>input[type='checkbox'],
#translate_checkbox>[type='checkbox'] {
    transform: scale(1.5) translateY(-50%);
}

.fields_in_options {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.7vw;
}

@media(max-aspect-ratio:1/1) {
    .options_div {
        min-width: 39vw;
        height: 45%;
    }

    #settings_fields {
        height: 50vh;
    }
}

.help-icon {
    font-size: 1em;
    position: absolute;
    padding: 0.3vw;
    top: 0;
    right: 0;
    z-index: 1;
}

.help-icon .material-symbols-outlined {
    opacity: 0.5;
}

.help-text {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 16vw;
}

.help-icon:hover>.help-text {
    display: block;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 9999;
    /* opacity: 1; */
}

#results_fields {
    display: flex;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    height: 60%;
}

#choose_lang,
#input_file,
#choose_trans_lang,
#start {
    background-color: white;
    color: black;
    border-radius: 4px;
    font-size: 1.4vw;
    border: 2px solid rgb(27, 27, 27, 0.8);
    cursor: pointer;
    text-align: center;
    padding: 1.5vw;
}

.step_label {
    font-size: 1.5vw;
    color: black;
    text-align: center;
    padding: 0 15%;
}

@media(max-aspect-ratio:1/1) {

    #input_file,
    #choose_lang,
    #start,
    .step_label,
    #choose_trans_lang {
        font-size: 3vw;
    }
}

#show_translation_checkbox {
    display: none;
}

input[type="checkbox"]:checked+.custom_check {
    background-color: rgb(22, 178, 105);
    color: white;
}

#send_file {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#file_name {
    font-size: 1vw;
}

input[type='checkbox'] {
    transform: scale(1.5);
    filter: hue-rotate(280deg);
    cursor: pointer;
}

.checkbox_label {
    display: inline-block;
    transform: translate(0.35em, -0.05em);
    font-size: 1.5vw;
}

@media(max-aspect-ratio:1/1) {

    #upload_msg,
    #choose_lang_msg,
    .checkbox_label {
        font-size: 3.2vw;
    }

    #file_name {
        font-size: 2vw;
    }

    .result_windows {
        padding: 2vw;
    }

}

.icon_button .material-symbols-outlined {
    font-size: inherit;
    transform: translateY(15%);
}

#arrow {
    margin: 0 2vw;
    position: relative;
}

#arrow>* {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}

.result_option_button {
    cursor: pointer;
}

#transcribe {
    border: none;
}

.result_windows {
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.result_windows>.result_option_button {
    margin-left: auto;
    position: absolute;
    top: -0.5em;
    border: none;
    background: none;
}

.result_windows>.copy_button {
    right: 0.5em;
}

.result_windows>.download_button {
    right: 3em;
}

.result_span {
    margin: 1.5vw;
    display: inline-block;
}

.loading_text {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5)
}

.loading_icon {
    height: 1em;
    transform: translateX(100%) scale(2);
}

.result_legend {
    font-size: 120%;
    margin-left: 1vw;
}

audio {
    margin: 10px 0px 10px 0px;
}

article {
    display: flex;
    flex-flow: column nowrap;
}